<div class="container">
  <h1>Multi Part Form</h1>
  <form [formGroup]="myForm" (ngSubmit)="formSubmit()" *ngIf="!isSubmitted">
    <h4>User Details</h4>
    <ng-container *ngIf="step===1" formGroupName="userDetails">
      <div class="mb-3">
        <label for="inputName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="inputName" formControlName="fname" />
        <span class="form-label" style="color: red;" *ngIf="userDetails.get('fname')?.invalid && userDetails.get('fname')?.touched">Please enter the Fullname</span>
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email"/>
        <span class="form-label" style="color: red;" *ngIf="userDetails.get('email')?.invalid && userDetails.get('email')?.touched">Please enter the Email</span>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password" />
        <span class="form-label" style="color: red;" *ngIf="userDetails.get('password')?.invalid && userDetails.get('password')?.touched">Please enter the Password</span>
      </div>
    </ng-container>
    <ng-container *ngIf="step===2" formGroupName="additionalDetails">
      <h4>Additional Details</h4>
    <div class="mb-3">
      <label for="inputMobile" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="inputMobile" placeholder="+1" formControlName="phone"/>
      <span class="form-label" style="color: red;" *ngIf="additionalDetails.get('phone')?.invalid && additionalDetails.get('phone')?.touched">Please enter 10 digit Phone Number</span>
    
    </div>
    <div class="mb-3">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Enter Address" id="floatingTextArea" formControlName="address"></textarea>
        <span class="form-label" style="color: red;" *ngIf="additionalDetails.get('address')?.invalid && additionalDetails.get('address')?.touched">Please enter address</span>
        <label for="floatingTextArea" class="form-label">Street Address</label>

      </div>
    </div>
    <div class="mb-3">
      <label for="inputCountry" class="form-label">Country</label>
      <input type="text" class="form-control" id="inputCountry" formControlName="country" />
      <span class="form-label" style="color: red;" *ngIf="additionalDetails.get('country')?.invalid && additionalDetails.get('country')?.touched">Please enter Country</span>
    
    </div>
    <div class="mb-3">
      <label for="inputGender" class="form-label">Gender</label>
      <select name="inputGender" id="inputGender" class="form-control" formControlName="gender">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="">Prefer not to answer</option>
      </select>
      <span class="form-label" style="color: red;" *ngIf="additionalDetails.get('gender')?.invalid && additionalDetails.get('gender')?.touched">Please select Gender</span>

    </div>
    </ng-container>
    <ng-container *ngIf="step ===3" formGroupName="feedbackDetails">
      <h4>Feedback/Comment</h4>
      <div class="mb-3">
          <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextArea"
                  style="height: 100px;"></textarea>
              <label for="floatingTextArea" class="form-label" formControlName="comments">Comments</label>
          </div>
      </div>
    </ng-container>
   

        <button type="button" class="btn btn-primary" (click)="showPrevious()" *ngIf="step!==1" >Previous</button>
        <button type="button" class="btn btn-primary mx-2" (click)="showNext()" >Next</button>
        <button type="submit" class="btn btn-success" *ngIf="step===3" >Submit</button>
  </form>
  <ng-container *ngIf="isSubmitted">
    <h1>Form Submitted Successfully</h1>
  </ng-container>
</div>
